.landing-page {
    height: 120vh;
    background-size: cover;
    background-image: url(/public/images/landing_back.png);
}

.landing-page-logo {
    color: white;
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 25px;
    font-family: Playdisplay;
    font-weight: 600;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 36px;
    font-family: inknut antiqua, serif;
    margin-top: 250px;
    color: white;
}

.explore-buttom {
    border: none;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 15px 25px;
    font-family: Playdisplay;
    font-size: 20px;
    display: flex;
}

.explore-buttom:hover{
    transition: 0.40s;
    padding: 15px 35px;
    gap: 15px;
    font-size: 10;
    font-family: Playdisplay;
    letter-spacing: 0.1em;
    background-color: rgba(209, 205, 227, 0.856);
}
